@use './variables' as *;

h2 {
  margin: 31px 0 6px;
  text-align: center;
  font-size: 2.6875rem;
  font-weight: bold;
  line-height: 50px;
  color: $heading-color;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28px;
  color: $text-color;
}

.secondary-text {
  margin: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  color: $secondary-text-color;
}

.tac {
  text-align: center;
}
