$text-color: #000000;
$text-contrast-color: #ffffff;
$heading-color: #333333;
$secondary-text-color: #a9a9a9;

$main-backround: #f5f4f2;
$primary-bacround: #c4e91f;
$secondary-backround: #ffffff;
$header-border-color: #d2d2d2;
$input-border-color: #e6e6e6;

$border-radius-block: 22px;
$border-radius-input: 12px;
