@use './fonts' as *;
@use './variables' as *;
@use './text' as *;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

a {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: $text-color;
  background-color: $main-backround;
}

p {
  margin: 6px 0 0;
}

button {
  border: none;
  outline: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1144px;
  padding: 0 20px;
}
