@use './../../../../app/styles/variables' as *;

.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: $border-radius-block;
  background-position: center;

  &.large {
    .content {
      width: 75%;
    }
  }
}

.content {
  width: 60%;
  color: $secondary-text-color;
}
