@use './../../../../app/styles/variables' as *;

.button {
  width: 100%;
  height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0625rem;
  font-weight: 500;
  color: $text-contrast-color;
  border-radius: 12px;
  background-color: $heading-color;
  transition: filter 0.3s;

  &.primary {
    max-width: 291px;
    color: $heading-color;
    background-color: $primary-bacround;
  }

  &:hover {
    cursor: pointer;
    filter: opacity(0.8);
  }
}
