@use './../../../../app/styles/variables' as *;

.input {
  padding: 16px 16px;
  width: 100%;
  max-height: 54px;
  height: 100%;
  font-size: 1rem;
  line-height: 19px;
  border-radius: $border-radius-input;
  outline: none;
  border: 1px solid $input-border-color;

  &::placeholder {
    color: $secondary-text-color;
    font-size: 1rem;
  }

  &.withVisiblePlaceholder {
    padding: 26.5px 30px 8.5px 18px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.title {
  position: absolute;
  top: 8.5px;
  left: 18px;
  font-size: 0.75rem;
  color: $secondary-text-color;
  z-index: 1;
}
