.container {
  display: flex;
  column-gap: 24px;
}

.label {
  padding: 3px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 6px;
  border: 2px solid transparent;

  &:has(input:checked) {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 12px 0px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  img {
    object-fit: contain;
    object-position: center;
  }
}
