@use './../../../../app/styles/variables' as *;

.wrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 6.5px;
    background-image: url('./../../../assets/images/arrow-bottom.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.select {
  position: relative;
  appearance: none;
  padding: 26.5px 30px 8.5px 18px;
}

.title {
  position: absolute;
  top: 8.5px;
  left: 18px;
  font-size: 0.75rem;
  color: $secondary-text-color;
  z-index: 1;
}
