@use './../../../app/styles/variables' as *;

.header {
  position: relative;
  background-color: $secondary-backround;
  border-bottom: 2px solid $header-border-color;
  z-index: 50;

  &__wrapper {
    height: 69px;
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
