@use './../../../app/styles/variables' as *;

.wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3%;
  width: 100vw;
  height: 100vh;
  background-color: rgba($main-backround, 0.9);
  z-index: 10;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-out;
  }

  &.inactive {
    animation: fadeOut 0.3s ease-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal {
  position: relative;
  max-width: 684px;
  width: 100%;
  padding: 24px;
  background-color: $secondary-backround;
  border-radius: $border-radius-block;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: opacity(0.8);
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.inputGroup {
  display: flex;
  column-gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-bottom: 24px;
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 1.0625rem;
}

.link {
  display: flex;
  gap: 12px;
}

.mail {
  color: $link-color;
}

.button {
  max-width: 374px !important;
}
